body {
	background: #FFC0CB;
	color: white;
	width: 60%;
	margin: 0 auto;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFE4B5;
}

p {
	margin: 0.5em 0;
}

.highlight {
	color: #FFDAB9;
}
